svg{
	
	border: 2px solid #aaa;
	
}

.line2 {
  
  stroke: SkyBlue;
  stroke-width: 2;
  fill:none;
}
.line {
  
  stroke: yellowGreen;
  stroke-width: 5;
  fill:none;
}
.area{
	
	fill: SkyBlue;

}

.axis path,
.axis line{
	fill:none;
	stroke: black;
	shape-redering: crispEdges;
}
.axis text{
	font-family: sans-serif;
	font-size: 11px;
}